
<p>
  <strong>Количество верхних мест:</strong>
  <%= @carriage.top_place %>
</p> 
<p>
  <strong>Количество нижних мест:</strong>
  <%= @carriage.bottom_place %>
</p> 
<p>
  <strong>Количество верхних боковых мест:</strong>
  <%= @carriage.side_top_place %>
</p> 
<p>
  <strong>Количество нижних боковых мест:</strong>
  <%= @carriage.side_bottom_place %>
</p> 
